<body style="width: 100%; height: 100%; background: white;">
	<header>
		<h1>MOOV</h1>
	</header>
	<nav>
		<a href="https://moov.bastian-somon.fr">Aller sur le site !</a>
	</nav>
	<main id="content">
		<h1>Bonjour <%= username %></h1>
		<h1><%= mailSubject %></h1>
		<p><%= mailContent %></p>
	</main>
</body>
