@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
   --navbar-width: 3px;
   --header-height: 88px;

   --swiper-theme-color: #7061E4;
}

#app {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   position: relative;
   width: calc(100vw - var(--navbar-width));
   min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
   color: #4D4D4D;
}

* {
   outline: none;
}

*::selection {
   background-color: #7061E4;
   color: #fff;
}

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   position: relative;
}

*::-webkit-scrollbar {
   width: var(--navbar-width);
	height: var(--navbar-width);
   border-radius: calc(var(--navbar-width) / 2);
}


*::-webkit-scrollbar-thumb {
   background: #7061E4;
}

.code-200 {
   background-color: #61eb68;
}

.code-300 {
   background-color: #f5b342;
}

.code-400 {
   background-color: #f44336;
}

.code-500 {
   background-color: #42c3f5;
}

@keyframes translateXLTR {
   from {
      transform: translateX(-100%);
   }
   to {
      transform: translateX(0);
   }
}

.opacity__animation {
   animation: appearOp 0.5s ease-in-out;
}

@keyframes appearOp {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes widthProgress {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}

.loader {
   border-radius: 8px;
   animation: pulseLoader 1s infinite alternate-reverse;
}

@keyframes pulseLoader {
   from {
      background: #C5C5C5;
   }
   to {
      background: #D6D6D6;
   }
}